<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/landingpage.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Data Analystic</title>
</head>
<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
            <h2>Data Analystic</h2>
        </div>
       
        <nav>
            <a class="start" href="home/">Começar</a>
            <a class="github" href="https://github.com/paulindavzl/data-analystic"><i class="fa fa-github"> GitHub</i></a>
        </nav>
    </header> <!--header-->

    <hr>

    <main>
        <section id="dashboard-description">
            <img src="{{ url_for('static', filename='img/dashboard.png') }}" alt="dashboard">
            <p>Analise dados de planilhas e gere gráficos<br>personalizáveis e interativos.</p>
        </section> <!--section-->

        <hr>

        <section id="script-description">
            <p>Utilize um script simples para automatizar tarefas repetitivas<br>e gerar Dashboards de forma simples.</p>
            <img src="{{ url_for('static', filename='img/programming.png') }}" alt="script-image">
        </section> <!--section-->

        <hr>

        <section id="start-now">
            <p>Não perca tempo! Comece agora sua análise de dados.</p>
            <button onclick="window.location='home'">Começar</button>
        </section> <!--section-->
    </main> <!--main-->

    <footer>
        <p class="footer">Projeto pessoal por <strong>Paulo Chaves</strong></p>
        <p class="footer">Visite meu <a href="https://github.com/paulindavzl"><strong>GitHub</strong></a></p>
    </footer>
</body>
</html>